* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
}

.hero {
    background-image: url("https://www.stadefrance.com/sites/default/files/styles/main_edito/public/2022-09/concerts_couv.jpg?itok=-bGmcWPa");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 0px;
}

.hero a {
    color: beige;
}

.hero-content {
    max-width: 600px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section.description {
    font-size: 1.1rem;
    
    margin: 20px;
    text-align: justify;
}

.upcoming-events {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.event {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background-color:  #333;

}

.event img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2.titre {
    margin-top: 1rem;
    margin-left: 2rem;
}

a {
    text-decoration: none;
}


a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


a:visited {
    color: 000;
}


a:focus {
    color: #000;
    outline: none; 
}

footer {
    position: static;
    margin-top: 2rem;
}

/* Styles pour les écrans de très grande largeur (supérieure à 1200px) */
@media (min-width: 1201px) {
    .hero {
        height: 800px;
    }
    h2 {
        font-size: 3rem;
    }
    section.description {
        font-size: 1.3rem;
    }
    .event {
        max-width: 450px;
        padding: 1.5rem;
    }
}

/* Styles pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        height: 600px;
    }
    h2 {
        font-size: 2.3rem;
    }
    section.description {
        font-size: 1.1rem;
    }
    .upcoming-events {
        flex-direction: column;
        align-items: center;
    }
    .event {
        max-width: 350px;
        padding: 1rem;
    }
}

/* Styles pour les écrans de taille moyenne inférieure (601px à 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    .hero {
        height: 500px;
    }
    h2 {
        font-size: 2rem;
    }
    section.description {
        font-size: 1rem;
        margin: 20px 10px;
    }
    .event {
        max-width: 300px;
        padding: 1rem;
    }
}

/* Styles pour les petits écrans (jusqu'à 600px) */
@media (max-width: 600px) {
    .hero {
        height: 400px;
    }
    h2.titre {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-left: 1rem;

    }
    #event {
        max-width: 250px;
        padding: 0.8rem;
    }
    #descrpition {
        padding: 10px;
    }
    .upcoming-events{
        display: block;
    }
}