/* ---- header.css ---- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Times New Roman', serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu-navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 20px;
}

#menu-navbar a:hover {
    color: beige;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-right: 20px;
    margin-left: auto;
}

button:hover {
    background-color: #45a049;
}

/* ---- footer.css ---- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}



/* direction.css */

main {
	background-color: beige;
}


body {
    font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
}

h1 {
	margin: 0;
	font-size: 24px;
	font-family: 'Roboto', serif;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 1em;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.offre {
	flex: 2;
	padding: 1em;
}

.offre ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.offre li {
	padding: 1em;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}

.offre button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5em;
}

.panier {
	flex: 1;
	background-color: #eee;
	padding: 1em;
}

.panier ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.panier li {
	margin-bottom: 0.5em;
}

.payer {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5em;
}

.chris {
	display: flex;
	flex-direction: row;
	column-gap: 40px;
	margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.h3des {
	display: flex;
	flex-direction: column;
}

img {
	width: 500px;
	height: 500px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 30);

}

/*  catalogue.css */

* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', serif;
}

body {
	background-color: beige;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

div {
	display: grid;
}

img {
	width: 300px;
	height: 300px;
}

img:hover {
	transform: scale(1.1);
	transition: all 0.3s ease;
}

.section-accueil {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.event-section {
	margin-left: auto;
	margin-top: 70px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
	transition: all 0.3s ease;
}

.event-row {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
}

.image-text {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
	line-height: 1.5;
}

.event-name {
	font-size: 18px;
	color: #000;
}

.event-date {
	font-size: 14px;
	color: #666;
}

.event-price {
	font-size: 14px;
	color: #666;
}

.event-price strong {
	color: #000;
}

.section-accueil img:hover {
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

/* Mention.html */

.textinfo {
    max-width: 1000px;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.textinfo h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.info {
    max-width: 1000px;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.info h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.info span {
    font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.textinfo h1 {
    text-align: center;
    margin-bottom: 20px;
}

#contact-form {
    width: 400px;
}
#contact-form button {
    margin-top: 20px;
    margin-right: 0px;
}