/* direction.css */

body {
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

main {
    flex: 1;
}


nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 1em;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.offre {
	flex: 2;
	padding: 1em;
}

.offre ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.offre li {
	padding: 1em;
	border: 1px solid #ccc;
	margin-bottom: 1em;
    background-color: #333;
    color: beige;
}

.offre button {
	background-color: beige;
	color: #333;
	border: Zpx solid #000;
	padding: 0.5em;
}

.panier {
	flex: 1;
	background-color: #eee;
	padding: 1em;
}

.panier ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.panier li {
	margin-bottom: 0.5em;
}

.payer {
	background-color: beige;
	color: #fff;
	border: none;
	padding: 0.5em;
}

.chris {
	display: flex;
	flex-direction: row;
	column-gap: 40px;
	margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.h3des {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

img {
	width: 500px;
	height: 500px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 30);

}

.offre {
    flex: 2;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    gap: 20px;
   
}

#prix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 500px;
    margin-top: 70px;
}


@media (max-width: 768px) {

	.chris {
		display: flex;
		flex-direction: column;
		column-gap: 40px;
		margin-right: 40px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

    .imgproduit {
        width: 100%;
        height: auto;
    }


    #prix {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}


@media (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
    }

	.chris {
		display: flex;
		flex-direction: column;
		column-gap: 40px;
		margin-right: 40px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .offre, .panier {
        padding: 1em;
    }
}
