@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Times New Roman', serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu-navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 20px;
}

#menu-navbar a:hover {
    color: beige;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
    margin-right: 20px;
    margin-left: auto;
}

button:hover {
    background-color: #45a049;
}


/* Styles pour les écrans de très grande largeur (supérieure à 1200px) */
@media (min-width: 1201px) {
    header {
        padding: 0.7rem 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    #navbar {
        padding: 0;
    }
    #menu-navbar {
        padding: 0;
    }
    #menu-navbar a {
        padding-left: 30px;
    }
    button {
        font-size: 18px;
        padding: 8px 16px;
    }
}

/* Styles pour les écrans de grande largeur (1025px à 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    header {
        padding: 0.6rem 1.5rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    #menu-navbar a {
        padding-left: 25px;
    }
    button {
        font-size: 16px;
        padding: 7px 14px;
    }
}

/* Styles pour les écrans de taille moyenne (769px à 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 0.5rem 1rem;
    }
    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 14px;
        padding: 6px 12px;
        margin-right: 0;
    }
}

/* Styles pour les écrans de taille moyenne inférieure (601px à 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    header {
        padding: 0.4rem 0.8rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #menu-navbar {
        margin-top: 10px;
    }
    #menu-navbar a {
        padding: 10px 0;
    }
    button {
        font-size: 12px;
        padding: 5px 10px;
    }
    a {
        margin: 30px;
    }
}

/* Styles pour les petits écrans (jusqu'à 600px) */
@media (max-width: 600px) {

    h1 {
        font-size: 1.5rem;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #menu-navbar {
        margin-top: 10px;
    }
    #menu-navbar a {
        padding: 10px 0;
    }
    button {
        font-size: 10px;
        padding: 4px 8px;
    }
}
